.env
scratch/
nvim/.config/nvim/plugin/packer_compiled.lua
ssh/.config/systemd/user/default.target.wants
ipython/.ipython/profile_default/history.sqlite

vscode/.config/Code/*
!vscode/.config/Code/User/settings.json
!vscode/.config/Code/User/keybindings.json
!vscode/.config/Code/User/snippets/*
