<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- load in /index.css -->
    <link rel="stylesheet" href="/index.css" />
    <!-- load in /index.js -->
    <script src="/index.js" defer></script>
    <!-- load bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <title>Demo FE</title>
  </head>
  <body>
    <div class="container">
      <h1>Demo FE</h1>
      <!-- span to indicate index.js loaded -->
      <span id="index-js-loaded"></span>
    </div>
  </body>
</html>
